.logement {
  margin: 0 5%;
  color: $primary-color;

  &__content {
    margin-top: 20px;
    @include media-query(large) {
      display: flex;
      justify-content: space-between;
      margin-bottom: 15px;
    }
  }
  &__title {
    margin: 0;
    font-size: 18px;
    font-weight: 500;
    @include media-query(small) {
      font-size: 24px;
    }
    @include media-query(medium) {
      font-size: 30px;
    }
    @include media-query(large) {
      font-size: 36px;
    }
  }
  &__location {
    font-size: 14px;
    font-weight: 500;
    @include media-query(small) {
      font-size: 16px;
    }
    @include media-query(medium) {
      margin-top: 0;
    }
    @include media-query(large) {
      font-size: 18px;
    }
  }
  &__tags {
    display: flex;
    flex-wrap: wrap;
  }
  &__rating-and-host {
    margin-top: 5px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    @include media-query(large) {
      flex-direction: column-reverse;
      justify-content: space-around;
      margin: 0;
    }
  }

  &__dropdowns {
    @include media-query(medium) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 40px;
    }
    @include media-query(large) {
      column-gap: 80px;
    }
  }
}
