.error {
  color: $primary-color;
  height: 570px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include media-query(medium) {
    height: 725px;
  }

  &__content {
    margin: 0 40px;
    text-align: center;
  }

  &__number {
    font-size: 96px;
    font-weight: 700;
    margin: 0;
    @include media-query(small) {
      font-size: 160px;
    }
    @include media-query(medium) {
      font-size: 224px;
    }
    @include media-query(large) {
      font-size: 288px;
    }
  }

  &__text {
    font-size: 18px;
    font-weight: 500;
    margin: 0;
    margin-top: 10px;
    @include media-query(small) {
      font-size: 24px;
    }
    @include media-query(medium) {
      font-size: 30px;
    }
    @include media-query(large) {
      font-size: 36px;
    }
  }

  &__link {
    color: $primary-color;
    font-size: 14px;
    font-weight: 500;
    margin-top: 133px;
    @include media-query(medium) {
      font-size: 16px;
    }
    @include media-query(large) {
      font-size: 18px;
    }
  }
}
